<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div>
  <section class="section profile" *ngIf="user">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
          >
            <img
              [src]="'http://localhost:3000/api/' + user.image"
              alt="Profile"
              class="rounded-circle"
            />
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <h3>{{ user.role }}</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                >
                  Overview
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-edit"
                >
                  Edit Profile
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-change-password"
                >
                  Change Password
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <h5 class="card-title">Profile Details</h5>
                <div class="row">
                  <div class="label">Email: {{ user.email }}</div>
                </div>
                <div class="row">
                  <div class="label">Address: {{ user.address }}</div>
                </div>
                <div class="row">
                  <div class="label">Phone: {{ user.phone }}</div>
                </div>
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">{{ user.about }}</p>
              </div>
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <form>
                  <div class="row mb-3">
                    <label
                      for="profileImage"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Profile Image</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        #fileInput
                        type="file"
                        accept="image/*"
                        style="display: none"
                        (change)="handleFileInput($event)"
                      />
                      <img [src]="getImageSource()" alt="Profile" />
                      <div class="pt-2">
                        <a
                          class="btn btn-primary btn-sm"
                          title="Upload new profile image"
                          (click)="fileInput.click()"
                        >
                          <i class="bi bi-upload"></i>
                        </a>
                        <a
                          class="btn btn-danger btn-sm"
                          title="Remove my profile image"
                          (click)="deleteImage()"
                          ><i class="bi bi-trash"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="firstName"
                      class="col-md-4 col-lg-3 col-form-label"
                      >First Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="firstName"
                        type="text"
                        class="form-control"
                        id="firstName"
                        value="{{ user.firstName }}"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label
                      for="lastName"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Last Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="lastName"
                        type="text"
                        class="form-control"
                        id="lastName"
                        value="{{ user.lastName }}"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="about" class="col-md-4 col-lg-3 col-form-label"
                      >About</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <textarea
                        name="about"
                        class="form-control"
                        id="about"
                        style="height: 100px"
                        >{{ user.about }}</textarea
                      >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="Address"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Address</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="address"
                        type="text"
                        class="form-control"
                        id="Address"
                        value="{{ user.address }}a"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                      >Phone</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="phone"
                        type="text"
                        class="form-control"
                        id="Phone"
                        value="{{ user.phone }}"
                      />
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="tab-pane fade pt-3"
                id="profile-change-password"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
