<main>
  <div class="container">
    <section class="section add-user min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Add User</h5>
                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" name="email" class="form-control" id="email"
                        [(ngModel)]="userObj.email" required>
                      <div class="invalid-feedback">Please enter your email!</div>
                    </div>
                    <div class="col-12">
                      <label for="firstName" class="form-label">First Name</label>
                      <input type="text" name="firstName" class="form-control" id="firstName"
                        [(ngModel)]="userObj.firstName" required>
                      <div class="invalid-feedback">Please enter your first name!</div>
                    </div>
                    <div class="col-12">
                      <label for="lastName" class="form-label">Last Name</label>
                      <input type="text" name="lastName" class="form-control" id="lastName"
                        [(ngModel)]="userObj.lastName" required>
                      <div class="invalid-feedback">Please enter your last name!</div>
                    </div>
                    <div class="col-12">
                      <label for="role" class="form-label">Role</label>
                      <select class="form-select" id="role" name="role" [(ngModel)]="userObj.role" required>
                        <option value="">Select a role</option>
                        <option value="user">User</option>
                        <option value="salesman">Salesman</option>
                      </select>
                      <div class="invalid-feedback">Please select a role!</div>
                    </div>
                    <div class="col-12">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" name="address" class="form-control" id="address"
                        [(ngModel)]="userObj.address" required>
                      <div class="invalid-feedback">Please enter your address!</div>
                    </div>
                    <div class="col-12">
                      <label for="phone" class="form-label">Phone</label>
                      <input type="text" name="phone" class="form-control" id="phone"
                        [(ngModel)]="userObj.phone" required>
                      <div class="invalid-feedback">Please enter your phone number!</div>
                    </div>
                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password"
                        [(ngModel)]="userObj.password" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
                            conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" (click)="onAddUser()">Add User</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
