<main id="main" class="main">
  <div class="pagetitle">
    <h1>List of contracts</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Services</li>
        <li class="breadcrumb-item active">Contracts</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Contracts</h5>
            <div class="d-flex align-items-center justify-content-between">
              <p class="mr-auto">All the contracts that you have Added</p>
              <button
                type="button"
                class="btn btn-success"
                routerLink="/add-contract"
              >
                Add contract
              </button>
            </div>
            <table class="table">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Reference</th>
                  <th scope="col">Partner name</th>
                  <th scope="col">Partner phone</th>
                  <th scope="col">Type</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="contracts.length > 0">
                  <tr *ngFor="let contract of contracts; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ contract.reference }}</td>
                    <td>{{ contract.signedbyPartner["firstName"] }}</td>
                    <td>{{ contract.signedbyPartner["phone"] }}</td>
                    <th class="text-primary">{{ contract.type }}</th>
                    <td>{{ contract.createdAt | date : "yyyy-MM-dd" }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Actions">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="deleteContract(contract.reference)"
                          *ngIf="user.role=='admin'"
                        >
                          Delete
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          (click)="navigateToContractDetails(contract)"
                        >
                          View
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <tr
                  *ngIf="errorMessage"
                  class="text-center fw-bold text-danger"
                >
                  <td colspan="9">
                    {{ errorMessage }}
                  </td>
                </tr>
                <tr
                  *ngIf="!contracts.length && !errorMessage"
                  class="text-center"
                >
                  <td colspan="9">
                    There is no product for this salesman at the moment
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
