<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item">
        <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Home</span> </a></li>
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/devices"> <i class="bi bi-circle"></i><span>Produits</span> </a></li> 
            <li> <a routerLink="/contracts"> <i class="bi bi-circle"></i><span>Contrats</span> </a></li>
          </ul>
       </li>
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-layout-text-window-reverse"></i><span>Offers</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/listoffers"> <i class="bi bi-circle"></i><span>List offers</span> </a></li>
            <li> <a routerLink="/rentedcontract"> <i class="bi bi-circle"></i><span>Location</span> </a></li>
            <li> <a routerLink="/tradedcontract"> <i class="bi bi-circle"></i><span>Èchange</span> </a></li>
            <li> <a routerLink="/purchasecontract"> <i class="bi bi-circle"></i><span>Achat</span> </a></li>
          </ul>
       </li>
       <!-- <li class="nav-heading">Pages</li> -->
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-contact"> <i class="bi bi-envelope"></i> <span>Contact</span> </a></li>
    </ul>
 </aside>
