<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Contract</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Services</li>
        <li class="breadcrumb-item active">Contract</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Contract</h5>
            <form class="row g-3 needs-validation" novalidate>
              <div class="row mb-3">
                <label for="reference" class="col-sm-2 col-form-label"
                  >Reference</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="reference"
                    name="reference"
                    [(ngModel)]="reference"
                    (ngModelChange)="reference = $event"
                    required
                  />
                </div>
                <div class="invalid-feedback">Please enter the reference</div>
              </div>
              <div class="row mb-3">
                <label for="contractType" class="col-sm-2 col-form-label"
                  >Contract Type</label
                >
                <div class="col-sm-10">
                  <select
                    class="form-select"
                    id="contractType"
                    name="contractType"
                    [(ngModel)]="contractType"
                    (ngModelChange)="checkSelectedValue()"
                    required
                  >
                    <option value="" disabled selected>Select a type</option>
                    <option value="Purchase">Purchase</option>
                    <option value="Trade">Trade</option>
                    <option value="Rent">Rent</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="product" class="col-sm-2 col-form-label"
                  >Choose product</label
                >
                <div class="col-sm-10">
                  <select
                    class="form-select"
                    id="product"
                    name="product"
                    required
                    [(ngModel)]="product"
                    [disabled]="contractType === ''"
                  >
                    <option [value]="null" disabled>Select a product</option>
                    <option
                      *ngFor="let device of contracts"
                      [ngValue]="device"
                    >
                      {{ device.client.firstName }}
                      {{ device.client.lastName }} |
                      <ng-container *ngIf="contractType === 'Trade'">
                        Offer: {{ device.tradeInOffer.brand }} | Traded offer:
                        {{ device.tradedDevice.brand }}
                      </ng-container>
                      <ng-container *ngIf="contractType !== 'Trade'">
                        {{ device.device.brand }}
                      </ng-container>
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Add Contract</label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary" (click)="addContract()">
                    Add Contract
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
