<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Device</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Components</li>
        <li class="breadcrumb-item active">Device</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Device</h5>
            <form class="row g-3 needs-validation" novalidate>
              <div class="row mb-3">
                <label for="brand" class="col-sm-2 col-form-label"
                  >Brand
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="brand"
                    name="brand"
                    [ngModel]="addDeviceObj.brand"
                    (ngModelChange)="addDeviceObj.brand = $event"
                    required
                  />
                </div>
                <div class="invalid-feedback">Please enter the brand</div>
              </div>
              <div class="row mb-3">
                <label for="type" class="col-sm-2 col-form-label">Type </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="type"
                    name="type"
                    [ngModel]="addDeviceObj.type"
                    (ngModelChange)="addDeviceObj.type = $event"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label"
                  >Description</label
                >
                <div class="col-sm-10">
                  <textarea
                    rows="4"
                    cols="100"
                    class="form-control"
                    id="description"
                    name="description"
                    [ngModel]="addDeviceObj.description"
                    (ngModelChange)="addDeviceObj.description = $event"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label for="serialNumber" class="col-sm-2 col-form-label"
                  >Serial Number
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="serialNumber"
                    name="serialNumber"
                    [ngModel]="addDeviceObj.serialNumber"
                    (ngModelChange)="addDeviceObj.serialNumber = $event"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="image" class="col-sm-2 col-form-label">
                  Image</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="file"
                    accept="image/*"
                    id="image"
                    name="image"
                    (change)="handleFileInput($event)"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="purchacePrice" class="col-sm-2 col-form-label"
                  >Purchace Price</label
                >
                <div class="col-sm-10">
                  <input
                    class="form-control"
                    type="number"
                    id="purchacePrice"
                    name="purchacePrice"
                    [ngModel]="addDeviceObj.purchacePrice"
                    (ngModelChange)="addDeviceObj.purchacePrice = $event"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="rentalPrice" class="col-sm-2 col-form-label"
                  >Rental Price</label
                >
                <div class="col-sm-10">
                  <input
                    type="number"
                    class="form-control"
                    id="rentalPrice"
                    name="rentalPrice"
                    [ngModel]="addDeviceObj.rentalPrice"
                    (ngModelChange)="addDeviceObj.rentalPrice = $event"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label for="yearOfManufacture" class="col-sm-2 col-form-label"
                  >Year Of Manufacture
                </label>
                <div class="col-sm-10">
                  <input
                    type="date"
                    class="form-control"
                    id="yearOfManufacture"
                    name="yearOfManufacture"
                    [ngModel]="addDeviceObj.yearOfManufacture"
                    (ngModelChange)="addDeviceObj.yearOfManufacture = $event"
                    required
                  />
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Add Device</label>
                <div class="col-sm-10">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="addDevice()"
                  >
                    Add Device
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
